/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

.header__container {
    background-color: #ffffff;
    width: 975px;
    padding: 0px 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;

    position: relative;
}

.header__logo__button {
    /* background-color: red; */
    width: 334px;
    height: 36px;
    cursor: pointer;
    position: relative;
}

.header__logo__button__image {
    width: 103px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
}
