.sidebar__profile {
    background-color: tomato;
    margin-top: 20px;
    width: 100%;
    height: 56px;
    position: relative;
    padding: 12px 0 0 70px;
}

.sidebar__profile__icon__button {
    width: 66px;
    height: 66px;
    position: absolute;
    top: -10px;
    left: -5px;
    cursor: pointer;
}

.sidebar__profile__icon__button__image {
    width: 56px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
}

.sidebar__profile__id__button {
    width: 100px;
    height: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
}
